.headerProductos {
  display: grid;
  position: sticky;
  z-index: 999;
  grid-template-columns: 10% 60% 30%;
  background: #4d97b3;
  grid-template-rows: auto;
  grid-template-areas: "logoP buscar botonesP";
  width: 100%;
}

.logo_Productos,
.buscar,
.botonesP {
  display: flex;
  align-items: center;
}
.logo_Productos {
  grid-area: logoP;
  width: 100%;
  justify-content: center;
}
.imgLogo {
  width: 90%;
  height: auto;
}
.buscar {
  grid-area: buscar;
  flex-direction: row;
  width: 100%;
}
.barraBuscar {
  width: 80%;
  height: 35%;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-left: 5%;
}
.botonesP {
  grid-area: botonesP;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.miCuenta {
  background: none;
  color: rgba(255, 255, 255, 0.74);
  outline: none;
  border: none;
  list-style: none;
  height: 50%;
}
.miCuenta:focus {
  outline: none;
}
.miCuenta:hover {
  color: white;
  cursor: pointer;
}
.carrito {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 30%;
  color: rgba(99, 55, 55, 0.74);
  transition: color 0.4 ease;
}
.carrito:hover {
  text-decoration: none;
  color: white;
}
.panel_cuenta_Producto {
  top: 100%;
  right: 25%;
  width: 10rem;
  max-height: 0;
  overflow: hidden;
  display: flex;
  list-style: none;
  background: black;
  padding: 0;
  flex-direction: column;
  position: absolute;
  transition: all 0.4s;
}
.cont_panel {
  align-items: center;
  box-shadow: 3px 0 gray inset;
  margin-bottom: 0.25rem;
  padding: 0;
  justify-content: center;
  transition: 0.5s;
}
.cont_panel:hover {
  box-shadow: 10rem 0 gray inset;
}
.login_Producto,
.register_Producto {
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  height: 100%;
  width: 100%;
  transition: color 0.4 s;
}
.login_Producto:hover,
.register_Producto:hover {
  text-decoration: none;
  justify-content: space-evenly;
  margin-left: 0.25rem;
  color: white;
}

.miCuenta_cont_Producto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0 0.5rem;
}
.miCuenta_ul {
  padding: 0;
  margin: 0;
}
.miCuenta:hover > ul {
  overflow: visible;
  max-height: 50rem;
}
