

.checkBasket{
    min-height:100vh;
    min-width:600px;
    background-color:white;
    display:flex;
    justify-content: space-between;
}

.checkBasket__leftSide
{
    flex:0.7;
}
.checkBasket__rightSide
{
    flex:0.3;
    display: flex;
    justify-content: center;
}

.checkBasket__empty
{
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.checkBasket__empty > h2
{
    font-size:2.5rem;
}
.checkBastet__products
{
    height: max-content;
}

.checkBastet__products > h3
{
    padding-left:30px;
}



