

.subtotal{
    position:relative;
    margin-top:20px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    width:280px;
    height: 200px;
    background: black;
    border-radius:5px;
    padding:10px;
}

.subtotal > p{
    font-size:1rem;
    color:white;
}

.subtotal .subtotal__info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtotal__info >p
{
    font-size:1rem;
    color:white;
}
.subtotal__info  span
{
    font-size:1.3rem;
    color:gray;
}

.subtotal__info button{
    color: gray;
    border:1px solid #0077b6;
    background-color: transparent;
    padding:5px;
    outline:none !important;
    cursor:pointer;
}

.subtotal__info button:hover
{
    letter-spacing: 3px;
    color:#0077b6;
    box-shadow: inset 1.5px 1.5px 5px #0077b6,
    inset -1px -1px 7px  #0077b6;
    
    
    
}