.section {
  text-align: center;
  min-height: 100vh;
}
.productos {
  display: grid;
  background-image: url("../../images/fondo-servicios.png");
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "titulo" "slider";
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
.Inicio {
  background-image: url("../../images/fondo-inicio.png");
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.texto {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: absolute;
  right: 0;
  padding-right: 2rem;
}
.texto h2 {
  padding-top: 6rem;
  padding-right: 1rem;
  color: white;
}
.texto button {
  margin-top: 3rem;
}
.AboutUs h2 {
  color: white;
  padding-top: 6rem;
  padding-bottom: 3rem;
  font-size: 50px;
}
.AboutUs {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/fondo-productos.png");
}
.AboutUs2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.AboutUs2 p,
.AboutUs2 h4 {
  color: white;
}
.mision,
.vision,
.metas,
.proveedores {
  width: 25%;
  padding: 1rem;
}
.slide {
  width: 60%;
  height: 80%;
  left: 20%;
  display: flex;
  align-items: center;
  grid-area: "slider";
}
.productos h2 {
  grid-area: "titulo";
  font-size: 50px;
}
.carousel-inner {
  height: 100%;
  justify-items: auto;
  border-radius: 10%;
}
h2 {
  font-family: "Quicksand";
  color: white;
  letter-spacing: 3px;
  font-size: 50px;
}
.w-100 {
  border-radius: 10%;
}
.btn-alimentos {
  background: none;
  outline: none;
  border: 2px solid black;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: color 0.4s;
  position: relative;
  overflow: hidden;
  letter-spacing: -1px;
  width: 350px;
}
.btn-alimentos:hover {
  color: white;
  letter-spacing: 5px;
}
.btn-alimentos:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  transform: translateY(-100%);
  transition: transform 0.4s;
  z-index: -1;
}
.btn-alimentos:hover:before {
  transform: translateY(0);
}
