.header {
  width: 100%;
  background: #4d97b3;
  margin: 0 auto;
  top: 0;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 999;
}

.menu {
  display: flex;
  width: 60%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.menu a {
  text-decoration: none;
  width: inherit;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  transition: all 0.3 ease;
  padding: 0.5rem;
  position: relative;
}
.menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all 0.3s;
}
.menu a:hover:after {
  left: 37.5%;
  width: 25%;
}
.menu a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.botones {
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  display: flex;
  align-items: center;
  width: 15%;
  height: auto;
  justify-content: center;
}
.imagenLogo {
  width: 70%;
  height: auto;
}
.login {
  border: 1.5px solid black;
  padding: 0.5rem 1rem;
  font-size: 15px;
  text-decoration: none;
  background: none;
  color: black;
  transition: color 0.4s;
  position: relative;
  overflow: hidden;
}
.login:hover {
  text-decoration: none;
  color: white;
}
.login::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.4s;
  z-index: -1;
}
.login:hover::before {
  transform: translateX(0);
}
/*@media screen and (max-width: 960px) {
  .header {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 2rem auto;
    grid-template-areas: "logo nav" "logo botones";
  }
  .logo {
    grid-area: logo;
    width: 100%;
  }
  .imagenLogo {
    width: 80%;
  }
  .menu {
    grid-area: nav;
    width: 100%;
    padding-top: 2rem;
  }
  .botones {
    grid-area: botones;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}*/
