
.sidebar{
padding:4px;
height: 350px;
flex:0.2;
}


.sidebar-title
{
color:gray;
position:relative;
top:0.7em;
}

.sidebar h3
{
    font-size:1.5rem;
    margin-left:50px;
    word-wrap: break-word;
    font-weight: 600;
    color:#17a2b8;
}

.sidebar-subtitle
{
    position:relative;
    top:10px;
}


.sidebar__categories
{
cursor:pointer;
font-size:0.9rem;
color:rgba(0,0,0,.8);
transition:0.3s ease;
}

.sidebar__categories:hover{
    font-weight: 900;
    color:#17a2b8;
}