@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif;  */

.register
{
    position:relative;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #112d42; 
}

.register::before
{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:60%;
  height: 100%;
  background-color: #03a9f4;
}

.hapyLogo
{
position:absolute;
top:10px;
left:30px;
object-fit: contain;
width:100px;
z-index:2000;
}

.container
{
  position:relative;
  min-width:500px;
  min-height:550px;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:1000;
}
.registerForm
{
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding:70px 50px;
  background-color: #fff;
  height: 100%;
  width:390px;
}

.registerForm > h2
{
  color:#0f3959;
  font-size:2em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.registerForm .registerBox
{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  padding-top:30px;
  width:100%;
}

.registerForm .registerBox .inputBox
{
margin:0 0 35px 0;
position:relative;
}


.registerForm .registerBox .inputBox.w100
{
  width:100%;
  
}

.registerForm .registerBox .inputBox input
{
  font-family: 'Poppins', sans-serif;
  width:100% !important;
  padding:5px 0;
  resize:none;
  font-size:18px;
  font-weight: 300;
  color:#333;
  border:none;
  border-bottom:1px solid #777;
  outline:none;
}

.registerForm .registerBox .inputBox span
{
  position:absolute;
  left:0;
  padding:5px 0;
  font-size:18px;
  color:#333;
  font-weight: 300;
  transition:0.2s;
  pointer-events: none;
}
.registerForm .registerBox .inputBox input:focus ~ span,
.registerForm .registerBox .inputBox input:valid ~ span
{
transform:translateY(-20px);
font-size:12px;
font-weight: 900;
color:#112d42;
letter-spacing: 2px;
}

.registerForm .registerBox .inputBox input[type="submit"]
{
  position:relative;
  cursor:pointer;
  background-color: #0f3959;
  color:white;
  padding:12px;
  width:150px;
}

.registerForm .registerBox .inputBox input[type="submit"]:hover
{
background-color: black;
letter-spacing: 3px;
text-transform: uppercase;
}