

.basketItem
{
    position: relative;
    margin-top:30px;
    width:900px;
    display:flex;
    background-color:#f3f3f3;
}


.basketItem > img{
    margin: auto 0;
    object-fit: contain;
    width:180px;
}

.basketItem__Info 
{
    position:relative;
    left:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:10px;
}

.basketItem__Info > h2{
    font-size:2rem;
    font-family: 'Poppins' sans-serif;
}

.basketItem__Info > p
{
font-size:1rem;
color:rgba(0,0,0,.7);
}


.basketItem__Info > button
{
    padding:10px;
    background-color:#180605;
    color:#C1705F;
    border:1px solid #f7f7f7;
    border-radius:999px;
    font-weight: 600;
    margin-top:20px;
    outline:none !important;
}
.basketItem__Info > button:hover
{
    transform: scale(1.08);
}
.basketItem__Info > button:active
{
    transform: scale(0.9);

}
.basketItem__buy
{
    width:300px;
}


.basketItem__buy > p{
    font-size:0.9rem;
}

.basketItem__info__Amount{
    display: flex;
    justify-content: space-around;
    position: relative;

}

.optionNumber{
width:90px;
}

.MuiTextField-root input {
    padding-top: 10px;
    padding-bottom: 10.5px;
}

.MuiTextField-root label {
    color:black;
    font-size:1.2rem;
}

.basketItem__info__Amount > button
{
    font-size:0.8rem;
    background-color:transparent;
    color:black;
    font-weight: 600;
    border:2px solid #03a9f4;
    border-radius:999px;
    outline:none !important;
}

.basketItem__info__Amount > button:hover
{
    transform: scale(1.1);
}

.basketItem__info__Amount > button:active
{
    transform: scale(0.9);

}






